# ── Base de données ──────────────────────────────────────────────────────────
DATABASE_URL="xxx"
DIRECT_URL="xxxx"
# Production Neon3
# DATABASE_URL="xxx"
# DIRECT_URL="xxx"

# ── Redis ────────────────────────────────────────────────────────────────────
REDIS_URL="redis://localhost:6379"

# ── Auth JWT ─────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET="change-me-access-secret-min-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-chars"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

# ── API ─────────────────────────────────────────────────────────────────────
PORT=3001
FRONTEND_URL="http://localhost:3000"
API_URL="http://localhost:3001"
CORS_ORIGIN="http://localhost:3000"

# ── Environnement ────────────────────────────────────────────────────────────
NODE_ENV="development"

